{% extends "@App/base.html.twig" %}

{% block title %}Brohazard | Brohazard.fr{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h2>Les derniers articles</h2>
                </div>
                {% for lastPost in lastPosts %}
                    <article>
                        {% set postShowLink = path("post_show", {"slug": lastPost.slug, "categorySlug": lastPost.category.slug}) %}
                        <h2><a href="{{ postShowLink }}">{{ lastPost.name }}</a></h2>
                        <p>
                            <small>Categorie : <a href="{{ path('lists_posts_category', {'categorySlug' : lastPost.category.slug}) }}">{{ lastPost.category }}</a>,
                                de <a href="{{ path("list_posts_author", {"idAuthor": lastPost.author.id }) }}">{{ lastPost.author.username }}</a>
                                <time class="timeago" datetime="{{ lastPost.creationDate|date('c') }}"></time>
                            </small>
                        </p>
                        <p>
                            {{ lastPost.summary|truncate(500, true, '<a href="' ~ postShowLink ~ '">...</a>')|purify }}
                        </p>
                        <p class="text-right">
                            <a href="{{ postShowLink }}" class="btn btn-primary">En savoir plus</a>
                        </p>
                    </article>
                {% endfor %}
            
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h2>Les derniers tweets</h2>
                </div>
                {% if lastTweets is not iterable %}
                    <div class="alert alert-warning">
                        {{ lastTweets }}
                    </div>
                {% else %}
                    <ul class="list-group">
                        {% for lastTweet in lastTweets %}
                            <li class="list-group-item">
                                {{ autolink(lastTweet.text)|purify }}
                                <small>
                                    <time class="timeago" datetime="{{ lastTweet.created_at|date('c') }}"></time>
                                    par <a href="https://twitter.com/{{ lastTweet.user.name }}">{{ lastTweet.user.name }}</a>
                                </small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jquery.timeago.js') }}"></script>
    <script src="{{ asset('format_date_ago.js') }}"></script>
{% endblock %}

