{% extends "@App/base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                
                {% for lastPost in lastPosts %}
                    <article>
                        {% set postShowLink = path("post_show", {"slug": lastPost.slug }) %}
                        <h2><a href="{{ postShowLink }}">{{ lastPost.name }}</a></h2>
                        <p>
                            <small>Categorie : <a href="{{ path('lists_posts_category', {'categorySlug' : lastPost.category.slug}) }}">{{ lastPost.category }}</a>,
                                de <a href="{{ path("list_posts_author", {"idAuthor": lastPost.author.id }) }}">{{ lastPost.author.username }}</a>
                                <time class="timeago" datetime="{{ lastPost.creationDate|date('c') }}"></time>
                            </small>
                        </p>
                        <p>
                            {{ lastPost.content|truncate(500, true, '<a href="' ~ postShowLink ~ '">...</a>')|purify }}
                        </p>
                        <p class="text-right">
                            <a href="{{ postShowLink }}" class="btn btn-primary">En savoir plus</a>
                        </p>
                    </article>
                {% endfor %}
            
            </div>
            <div class="col-md-4">
                
                {% if lastTweets is not iterable %}
                    <div class="alert alert-warning">
                        {{ lastTweets }}
                    </div>
                {% else %}
                    <ul>
                        
                        {% for lastTweet in lastTweets %}
                            <li>
                                {{ lastTweet.text }}
                                <small>
                                    <time class="timeago" datetime="{{ lastTweet.created_at|date('c') }}"></time>
                                    par {{ lastTweet.user.name }}
                                </small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    
    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src= {{ asset('bundles/app/js/jquery.timeago.js') }}></script>
    <script src= {{ asset('bundles/app/js/format_date_ago.js') }}></script>
{% endblock %}

