{% extends "@App/base.html.twig" %}

{% block title %}Articles - {{ category.name }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>{{ category.name }} <small>({{ pagination.getTotalItemCount }})</small></h2>
        </div>
       
        {% for post in pagination %}
            <article>
                <h2><a href="{{ path("post_show", {"id": post.id }) }}">{{ post.name }}</a></h2>
                <p>
                    <small><a href="{{ path("list_posts_author", {"idAuthor": post.author.id}) }}">{{ post.author.username }}</a> le {{ post.creationDate|date('m/d/Y') }}</small>
                </p>
                <p>
                    {% set postShowLink = path("post_show", {"id": post.id }) %}
                    {{ post.content|truncate(500, true, '<a href="' ~ postShowLink ~ '">...</a>')|raw  }}
                </p>
                <p class="text-right">
                    <a href="{{ path("post_show", {"id": post.id }) }}" class="btn btn-primary">En savoir plus</a>
                </p>
            </article>
        {% endfor %}
        
        <div class="text-center">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        
    </div>
    
{% endblock %}